td{
	width: 100px;
	height: 100px;
	/*background: pink;*/
}
.vertical{
	border-left : 5px solid orange;
	border-right : 5px solid orange;
}

.horizontal{
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

table{
margin: auto;
}

h1{
	margin: auto;
	text-decoration: underline;
	text-align: center;
}